<mat-sidenav-container>
  <mat-sidenav-content>
    <h1 class="mdc-typography--headline1">Editar usuario</h1>
    <form  autocomplete="off" [formGroup]="usuarioForm" (ngSubmit)="submitForm()" novalidate>

      <!-- Name -->
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre_usuario">
      </mat-form-field>

      <!-- Email -->
      <div *ngIf="usuarioForm.controls['correo_usuario'].errors?.['pattern']">
        <span class="text-danger">El correo no cuenta con un formato correcto.
        </span></div>
        <mat-form-field  appearance="outline" class="example-full-width">
          <mat-label>Nombre</mat-label>
        <input matInput placeholder="Correo" formControlName="correo_usuario">
      </mat-form-field>
      <div *ngIf="usuarioForm.controls['usuario_usuario'].errors?.['pattern']">
        <span class="text-danger">Usuario solo puede contener letras.
        </span>
      </div>
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" formControlName="usuario_usuario">
      </mat-form-field>
      <div *ngIf="usuarioForm.controls['contrasenia_usuario'].errors?.['pattern']">
        <span class="text-danger">Contraseña debe contener 8 caracteres, por lo menos una minuscula, una mayuscula, un numero y un caracter especial.
        </span></div>
        <mat-form-field  appearance="outline" class="example-full-width">
          <mat-label>Contraseña</mat-label>
        <input matInput  placeholder="Ingrese contraseña" [type]="hide ? 'password' : 'text'" formControlName="contrasenia_usuario">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Rol de usuario</mat-label>
        <mat-select [(value)]="rolSelect"  formControlName="rol_usuario">
          <mat-option *ngFor="let rol of roles" value={{rol._id}}>{{rol.nombre_rol}}</mat-option>

        </mat-select>
      </mat-form-field>



      <!-- Class -->

      <!-- Add Subjects -->


      <!-- Submit -->
      <div class="button-wrapper d-flex justify-content-between">
        <button mat-flat-button color="primary">Guardar</button>
        <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
      </div>
    </form>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  </mat-sidenav-content>
</mat-sidenav-container>