<mat-drawer-container class="example-container m-0 overflow-hidden contenedor-total" autosize>
  <mat-drawer #drawer class="example-sidenav p-0 m-0 h-100 overflow-hidden" mode="side">
    <div class="container-fliud h-100 row m-0">
      <div class="col-12 col-sm-8 container contenido-maximo">
        <div class="d-flex justify-content-end">
          <button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">
            Atrás <mat-icon>arrow_right</mat-icon>
          </button>

        </div>
        <br>
        <form [formGroup]="searchForm" class="d-inline d-flex">
          <mat-form-field class="example-full-width  w-50">
          <span matPrefix> </span>
          <input (keyup)="applyFilterPlatos($event)"  type="text" matInput placeholder="Ingrese plato a buscar" formControlName= "search">
          <button matSuffix mat-button><mat-icon >search</mat-icon></button>
          </mat-form-field>
          <div class="d-inline-block w-50">
          <div class="select">
          <select #select name="" id="inputGroupSelect01"  (change)="filtrarCategoria($event)">
            <option value="all" >todas las categorias</option>
            <option value={{categoria._id}}  *ngFor="let categoria of categorias">{{categoria.nombre_categoria}}</option>
          </select>
        </div>
      </div>
          </form>
          <br/>

        <div class="row  platos-contenedor overflow-auto ">
          <div *ngFor="let plato of platos | filter:searchForm.get('search').value" class="col col-sm-4 text-center">
            <mat-card
              class="my-2 p-0 btn"
              (mouseenter)="mouseenter($event)"
              (mouseleave)="mouseleave($event)"
              (click)="addPlato(plato)"
            >
              <button class="w-100" mat-button>
                <p>{{ plato.nombre_plato }}</p>
                <p>{{ plato.precio_plato | currency }}</p>
              </button>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-12   col-sm-4 bg-secondary contenedor-pedidos">
        <div class="pedidos h-100">
          <mat-card *ngFor="let pedido of pedidoTotal.pedidos" class="my-2">
            <div class="text-center w-100">
              <h3>
                <b> {{ pedido.plato.nombre_plato }}</b>
              </h3>
            </div>
            <div class="w-100">
              <mat-form-field
                class="w-75"
                appearance="standard"
                floatLabel="always"
              >
                <input
                  matInput
                  type="number"
                  class="text-center"
                  value="{{ pedido.cantidad_pedido }}"
                  placeholder="0"
                  disabled
                />
                <div
                  matPrefix
                  class="wrapper-indicator bg-black text-white"
                  (click)="addPedido(pedido.plato._id)"
                >
                  <button class="" mat-icon-button>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div
                  matSuffix
                  class="wrapper-indicator bg-black text-white"
                  (click)="reducePedido(pedido.plato._id)"
                  *ngIf="pedido.cantidad_lista!=pedido.cantidad_pedido"
                >

                  <button    class="" mat-icon-button>
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </mat-form-field>
              <button
                class="w-25"
                *ngIf="pedido.cantidad_lista<=0"
                (click)="removePlato(pedido.plato._id)"
                mat-icon-button
              >
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </div>
            <mat-form-field class="example-chip-list w-100"  appearance="fill">
              <mat-label>Favorite Fruits</mat-label>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip
                  *ngFor="let opcionRapida of pedido.opcionesRapidas"
                  (removed)="remove(opcionRapida, pedido)">
                  {{opcionRapida}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="New fruit..."
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event, pedido)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,pedido)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <p>Listos. {{ pedido.cantidad_lista }}</p>
            <p>Precio U. {{ pedido.plato.precio_plato | currency }}</p>
            <p>
              Precio T.
              {{
                pedido.plato.precio_plato * pedido.cantidad_pedido | currency
              }}
            </p>
          </mat-card>

          <div class="ventaPedido">
            <div class="accordion d-block d-lg-none" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   Ver detalles
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                      <form [formGroup]="pedidoForm">
                        <mat-form-field class="w-100" appearance="fill">
                          <mat-label>Observación</mat-label>
                          <textarea
                            matInput
                            placeholder="Ingrese aquí las observaciones..."
                            formControlName="observacion"
                          ></textarea>
                        </mat-form-field>
                      </form>
                      <div class="d-flex justify-content-between">
                        <table class="w-50">
                          <tr>
                            <td>Sub Total:</td>
                            <td>{{ getSubtotal() | currency }}</td>
                          </tr>
                          <tr>
                            <div>Iva {{configuracionCaja.iva}}% de {{getSubtotal()|currency}}:</div>
                            <td>{{ getSubtotal() * 0.12 | currency }}</td>
                          </tr>
                          <tr>
                            <td>Total</td>
                            <td>{{ getSubtotal() * 1.12 | currency }}</td>
                          </tr>
                        </table>
                        <div class="d-flex flex-column justify-content-center">
                          <button
                          *ngIf="enviado()"
                            mat-raised-button
                            (click)="cancelarPedido()"
                            class="mb-2"
                            color="warn"
                          >
                            Cancelar
                          </button>
                          <button
                            *ngIf="enviado()"
                            (click)="sendPedido()"
                            mat-raised-button
                            class="mb-2 btn-dark"
                          >
                            Enviar
                          </button>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
            <mat-card class=" d-none d-lg-block">
              <form [formGroup]="pedidoForm">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Observación</mat-label>
                  <textarea
                    matInput
                    placeholder="Ingrese aquí las observaciones..."
                    formControlName="observacion"
                  ></textarea>
                </mat-form-field>
              </form>
              <div class="d-flex justify-content-between">
                <table class="w-50">
                  <tr>
                    <td>Sub Total:</td>
                    <td>{{ getSubtotal() | currency }}</td>
                  </tr>
                  <tr>
                    <div>Iva {{configuracionCaja.iva}}% de {{getSubtotal()|currency}}:</div>
                    <td>{{ getSubtotal() * 0.12 | currency }}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{ getSubtotal() * 1.12 | currency }}</td>
                  </tr>
                </table>
                <div class="d-flex flex-column justify-content-center">
                  <button
                  *ngIf="enviado()"
                    mat-raised-button
                    (click)="cancelarPedido()"
                    class="mb-2"
                    color="warn"
                  >
                    Cancelar
                  </button>
                  <button
                    *ngIf="enviado()"
                    (click)="sendPedido()"
                    mat-raised-button
                    class="mb-2 btn-dark"
                  >
                    Enviar
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <div class="container-fliud row m-0 h-100">
    <div class="col-12 col-sm-8 container mt-3 contenedor-mesas position-relative">
      <div class="row">
        <div
          *ngFor="let mesa of mesas; let index = index"
          class="col col-sm-2 text-center"
          (click)="seleccionarMesa(mesa)"
        >
          <button
            *ngIf="mesa.estado == 2"
            (click)="drawer.toggle()"
            mat-button
            matBadge="!"
            class="p-0"
          >
            <fa-icon

              class="display-4 text-secondary mesa"
              [icon]="faSquareIcon"
            ></fa-icon>
          </button>

          <button *ngIf="mesa.estado != 2" mat-button (click)="drawer.toggle()">

            <fa-icon
            [ngStyle]="{'color':getColor(mesa)}"
              class="display-4  mesa"
              [icon]="faSquareIcon"
            ></fa-icon>
          </button>
          <p>{{ mesa.nombre_mesa }}</p>
        </div>
      </div>
      <div class="position-absolute bottom-0">



        <div class="row p-5 ejemplo_mesas">
          <div class="col-12 ">
            <fa-icon
            [ngStyle]="{'color': this.configuracionMesero.colorSatisfaccion.check ? this.configuracionMesero.colorSatisfaccion.color  : '#28a745'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Mesa con tiempos tempranos
          </div>
          <div class="col-12">
            <fa-icon
            [ngStyle]="{'color': this.configuracionMesero.colorSatisfaccionMedia.check ? this.configuracionMesero.colorSatisfaccionMedia : '#ffc107'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Mesa con tiempos aceptables
        </div>
        <div class="col-12">
            <fa-icon
            [ngStyle]="{'color': this.configuracionMesero.colorDisatisfaccion.check ? this.configuracionMesero.colorDisatisfaccion : '#dc3545'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Mesa con tiempos de retraso
        </div>
        <div class="col-12">
            <fa-icon
            [ngStyle]="{'color': this.configuracionMesero.colorFueraTiempo.check ? this.configuracionMesero.colorFueraTiempo : '#343a40'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Mesa con tiempos inaceptables
        </div>
        <div class="col-12">
            <fa-icon
            [ngStyle]="{'color': this.configuracionMesero.colorOcupada.check ? this.configuracionMesero.colorOcupada : '#6c757d'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Mesa ocupada
        </div>
        <div class="col-12">
            <fa-icon
            [ngStyle]="{'color': this.configuracionMesero.colorDisponible.check ? this.configuracionMesero.colorDisponible : '#0d6efd'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Mesa disponible
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 bg-secondary contenedor-pedidos-enviados ">
      <div class="pedidos h-100">
        <div *ngFor="let pedido of pedidos" class="my-2">
          <mat-card style="transition: 1s;"   [ngClass]="getColorPedido(pedido)">
            <div class="d-flex justify-content-between">
              <h5 class="m-0">{{getNombreMesa(pedido)}}</h5>
              <span>tiempo de espera {{ timer(pedido) }}</span>
            </div>
            <div class="d-flex flex-column mb-3">
              <span>Descripción del pedido</span>
              <mat-accordion>
                <mat-expansion-panel
                (click)="cambiarValorCambio(pedido)"
                  (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> Pedidos </mat-panel-title>

                  </mat-expansion-panel-header>
                  <mat-list>
                    <div *ngFor="let ped of pedido.pedidos">

                     <h5><b>Nombre: {{ped.plato.nombre_plato}} </b></h5>
                     <h5>Cantidad pedida: {{ped.cantidad_pedido}}</h5>
                     <h5>Servidos: {{ped.cantidad_servida}}</h5>


                    <mat-divider></mat-divider>
                  </div>

                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>

            </div>

            <div class="d-flex justify-content-center">
              <!-- <button *ngIf="listo(pedido)"  class="btn btn-success">Servido</button> -->
           <!--    <button class="btn btn-danger">Cancelado</button> -->
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
