select {
  /* Reset Select */
  appearance: none;
  outline: 0;

  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
.contenedor-mesas{
z-index: 100;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.contenido-maximo{
z-index: 100;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
display: grid;

}
.mat-chip{
  display: inline-table
  ;
}
@media (min-width: 900px) {
  .contenido-maximo{
    height: calc(100vh - 80px);
  }
}

.platos-contenedor{
  margin: 10px 3px;
z-index: 100;
padding: 15px 0;
border: 1px solid #cbcbcb;

}
::ng-deep .accordion-button:not(.collapsed) {
  color: #34b5ff;
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.select {
  position: relative;
  display: flex;
  height: 55.56px!important;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid;
  padding: 17px;
  background-color: #ffffff;
  transition: 0.25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
}

.mesa {
  cursor: pointer;
}
.pedidos {
  min-height: 100% !important;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.example-container {
  width: 100vw;

}
.example-sidenav {
  width: 100vw;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

::ng-deep .z-depth:hover {
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.14),
    0 8px 8px 0 rgba(0, 0, 0, 0.12) !important;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.espacioPedidos {
  height: 200px;
}

.ventaPedido {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

input[type="number"][disabled] {
  color: rgb(0, 0, 0);
}

::ng-deep mat-drawer-content {
  margin: 0 !important;
}
@media (min-width: 500px) and  (max-width: 900px)  {
  .contenedor-pedidos-enviados{
    overflow: auto;
    height: calc(100vh);
  }
}
@media (min-width: 900px) {
  .contenedor-pedidos-enviados{

    overflow: auto;
    height: calc(100vh - 80px);
  }
  .contenedor-pedidos {
    height: calc(100vh - 80px);
    overflow-y: scroll;
    position: relative;
  }

  .contenedor-total{
    height: calc(100vh - 84px);
  }
}
@media (max-width: 900px) {
  .ejemplo_mesas{
    display: none;
  }
  .contenido-maximo {
    height: 50vh;
    overflow: auto;
  }
  .contenedor-total{
    height: 100vh;
  }
  .platos-contenedor{
    white-space: nowrap;
    overflow: auto;
    height: 65vh;
  }
}


@media (min-width: 500px)  and (max-width: 900px)  {

  .contenedor-pedidos{
    height: 100vh ;
    overflow-y: scroll;
    position: relative;
}
  .contenido-maximo {
    height: 100vh;
    overflow: auto;
  }
}
@media (min-width: 900px) {
  .contenedor-pedidos{
    height: calc(100vh - 80px);
    overflow-y: scroll;
    position: relative;
}
}
@media (max-width: 500px) {
  .contenedor-mesas-pedidos{
    display: grid;
  }
  .contenido-maximo {
    height: 50vh;
    overflow: auto;
  }
  .contenedor-pedidos{
    height: 50vh ;
    overflow-y: scroll;
    position: relative;
}
.platos-contenedor{
  white-space: nowrap;
  overflow: auto;
  height: 22vh;
}
.contenedor-pedidos-enviados{

  overflow: auto;
  min-height: 50vh;
}
.contenedor-mesas{

  height: auto;
}
}
::ng-deep .mat-drawer-inner-container {
  height: auto !important;
}
::ng-deep .mat-drawer-content {
  overflow: hidden !important;
}
