<mat-drawer-container class="example-container m-0 overflow-hidden contenedor-total" autosize>
  <mat-drawer #drawer class="example-sidenav p-0 m-0 h-100 overflow-hidden" mode="side">
    <div class="container-fliud h-100 row m-0">
      <div  id="previousElementSibling" #previousElementSibling
      class="col-12 col-sm-8 container contenido-maximo">
      <div class="contenedor-acciones">
        <div class="d-flex justify-content-end">
          <button
          (click)="drawer.toggle()"
          [ngStyle]="{
            background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
              ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'cc'
              : '#ffb13c'+'cc',
              'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
              ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
              : '#ffb13c'
          }"
            type="button"
            mat-raised-button
            color="primary"
          >
          Atrás <mat-icon>arrow_right</mat-icon>
          </button>

        </div>

        <form [formGroup]="searchForm">
          <mat-form-field class="example-full-width  w-100" appearance="outline">
          <span matPrefix> </span>
          <input (keyup)="applyFilterPlatos($event)"  type="text" matInput placeholder="Ingrese plato a buscar" formControlName= "search">
          <button matSuffix mat-button><mat-icon >search</mat-icon></button>
          </mat-form-field>
          <div class="d-inline-block w-100">
          <div class="select">
          <select #select name="" id="inputGroupSelect01"  (change)="filtrarCategoria($event)">
            <option value="all" >todas las categorias</option>
            <option value={{categoria._id}}  *ngFor="let categoria of categorias">{{categoria.nombre_categoria}}</option>
          </select>
        </div>
      </div>
          </form>
      </div>



        <div class="row  platos-contenedor overflow-auto ">
          <div *ngFor="let plato of platos | filter:searchForm.get('search').value" class="col col-sm-4 text-center p-0">
            <mat-card
              class=" btn"
              (mouseenter)="mouseenter($event)"
              (mouseleave)="mouseleave($event)"
              (click)="addPlato(plato)"
            >
              <button class="w-100" mat-button>
                <p class="m-0">{{ plato.nombre_plato }}</p>
                <p class="m-0">{{ plato.precio_plato | currency }}</p>
              </button>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="resizer col-12" #dragMe >
        <img src="../../../../../assets/imgs/resize.png" id="dragMe" alt=""
        [ngStyle]="{'background-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
        ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+80
        : '#ffb13c'+80
      }"
        >
      </div>
      <div
      id="nextElementSibling" #nextElementSibling
      [ngStyle]="{
        background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
          ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+40
          : '#ffb13c'+40
      }"

      class="col-12   col-sm-4   background-pedidos contenedor-pedidos">
        <div class="pedidos h-100">
          <mat-card *ngFor="let pedido of pedidoTotal.pedidos" class="my-2">
            <button
            class="position-absolute top-0 end-0"
            *ngIf="pedido.cantidad_lista<=0"
            (click)="removePlato(pedido.plato._id)"
            mat-icon-button
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>

            <div class="text-center w-100">
              <h3>
                <b> {{ pedido.plato.nombre_plato }}</b>
              </h3>
            </div>
            <div class="w-100">
              <mat-form-field
                class="w-100"
                appearance="standard"
                floatLabel="always"
              >
                <input
                  matInput
                  type="number"
                  class="text-center"
                  value="{{ pedido.cantidad_pedido }}"
                  placeholder="0"
                  disabled
                />
                <mat-hint>Platos listos: {{ pedido.cantidad_lista}}</mat-hint>
                <div
                  matPrefix
                  class="wrapper-indicator bg-black text-white"
                  (click)="addPedido(pedido.plato._id)"
                >
                  <button class="" mat-icon-button>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div
                  matSuffix
                  class="wrapper-indicator bg-black text-white"
                  (click)="reducePedido(pedido.plato._id)"
                  *ngIf="pedido.cantidad_lista!=pedido.cantidad_pedido"
                >

                  <button    class="" mat-icon-button>
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </mat-form-field>

            </div>
            <mat-form-field class="example-chip-list w-100"  appearance="fill">
              <mat-label>Opciones rápidas</mat-label>
              <mat-chip-list #chipList aria-label="Escriba opción rápida">
                <mat-chip
                  class="mat-chip"
                  *ngFor="let opcionRapida of pedido.opcionesRapidas"
                  (removed)="remove(opcionRapida, pedido)">
                  {{opcionRapida}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="Nueva opción rápida..."
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event, pedido)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event,pedido)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <p>Precio uni.: <b>{{ pedido.plato.precio_plato | currency }}</b> | Precio tot.:
              <b>{{pedido.plato.precio_plato * pedido.cantidad_pedido | currency}}</b></p>

          </mat-card>

          <div class="ventaPedido">
            <div class="accordion d-block d-lg-none" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                   Ver detalles
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                      <form [formGroup]="pedidoForm">
                        <mat-form-field class="w-100" appearance="fill">
                          <mat-label>Observación</mat-label>
                          <textarea
                            matInput
                            placeholder="Ingrese aquí las observaciones..."
                            formControlName="observacion"
                            (keydown)="actualizarObservacion()"
                          ></textarea>
                        </mat-form-field>
                      </form>
                      <div class="d-flex justify-content-between">
                        <table class="w-50">
                          <tr>
                            <td>Subtotal:</td>
                            <td>{{ getSubtotal() | currency }}</td>
                          </tr>
                          <tr>
                            <div>IVA {{configuracionCaja.iva}}%:</div>
                            <td>{{ getSubtotal() * 0.12 | currency }}</td>
                          </tr>
                          <tr>
                            <td>Total</td>
                            <td>{{ getSubtotal() * 1.12 | currency }}</td>
                          </tr>
                        </table>
                        <div class="d-flex flex-column justify-content-center">
                          <button
                          *ngIf="enviado()"
                            mat-raised-button
                            (click)="cancelarPedido()"
                            class="mb-2"
                            color="warn"
                          >
                            Cancelar
                          </button>
                          <button
                            *ngIf="enviado()"
                            (click)="sendPedido()"
                            mat-raised-button
                            class="mb-2 btn-dark"
                          >
                            Enviar
                          </button>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
            <mat-card class=" d-none d-lg-block">
              <form [formGroup]="pedidoForm">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Observación</mat-label>
                  <textarea
                    matInput
                    placeholder="Ingrese aquí las observaciones..."
                    formControlName="observacion"
                  ></textarea>
                </mat-form-field>
              </form>
              <div class="d-flex justify-content-between">
                <table class="w-50">
                  <tr>
                    <td>Subtotal:</td>
                    <td>{{ getSubtotal() | currency }}</td>
                  </tr>
                  <tr>
                    <div>IVA {{configuracionCaja.iva}}%:</div>
                    <td>{{ getSubtotal() * 0.12 | currency }}</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>{{ getSubtotal() * 1.12 | currency }}</td>
                  </tr>
                </table>
                <div class="d-flex flex-column justify-content-center">
                  <button
                  *ngIf="enviado()"
                    mat-raised-button
                    (click)="cancelarPedido()"
                    class="mb-2"
                    color="warn"
                  >
                    Cancelar
                  </button>
                  <button
                    *ngIf="enviado()"
                    (click)="sendPedido()"
                    mat-raised-button
                    class="mb-2 btn-dark"
                  >
                    Enviar
                  </button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <div class="container-fliud row m-0 h-100 contenedor-mesas-pedidos">
    <div #domContenedor1 class="col-12 col-sm-8 container pt-4 contenedor-mesas position-relative">
      <div class="row">
        <div
          *ngFor="let mesa of mesas; let index = index"
          class="col col-sm-2 text-center"
          (click)="seleccionarMesa(mesa)"
        >
          <button
            *ngIf="mesa.estado == 2"
            (click)="drawer.toggle()"
            mat-button
            matBadge="!"
            class="p-0"
          >
            <fa-icon

              class="display-4 text-secondary mesa"
              [icon]="faSquareIcon"
            ></fa-icon>
          </button>

          <button *ngIf="mesa.estado != 2" mat-button (click)="drawer.toggle()">

            <fa-icon
            [ngStyle]="{'color':getColor(mesa)}"
              class="display-4  mesa"
              [icon]="faSquareIcon"
            ></fa-icon>
          </button>
          <p>{{ mesa.nombre_mesa }}</p>
        </div>
      </div>
      <div class="position-absolute bottom-0">



        <div class="row p-5 ejemplo_mesas">
          <div class="col-4 ">
            <fa-icon
            [ngStyle]="{'color': this.configuracionEstilo.colorSatisfaccion.check ? this.configuracionEstilo.colorSatisfaccion.color  : '#28a745'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Tiempos tempranos
          </div>
          <div class="col-4">
            <fa-icon
            [ngStyle]="{'color': this.configuracionEstilo.colorSatisfaccionMedia.check ? this.configuracionEstilo.colorSatisfaccionMedia : '#ffc107'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Tiempos aceptables
        </div>
        <div class="col-4">
            <fa-icon
            [ngStyle]="{'color': this.configuracionEstilo.colorDisatisfaccion.check ? this.configuracionEstilo.colorDisatisfaccion : '#dc3545'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Tiempos de retraso
        </div>
        <div class="col-4">
            <fa-icon
            [ngStyle]="{'color': this.configuracionEstilo.colorFueraTiempo.check ? this.configuracionEstilo.colorFueraTiempo : '#343a40'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Tiempos inaceptables
        </div>
        <div class="col-4">
            <fa-icon
            [ngStyle]="{'color': this.configuracionEstilo.colorOcupada.check ? this.configuracionEstilo.colorOcupada : '#6c757d'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
         Ocupada
        </div>
        <div class="col-4">
            <fa-icon
            [ngStyle]="{'color': this.configuracionEstilo.colorDisponible.check ? this.configuracionEstilo.colorDisponible : '#0d6efd'}"
            class="display-6 mesa mesa-preview-mesero"
            [icon]="faSquareIcon"
          ></fa-icon>
          Disponible
          </div>
        </div>
      </div>
    </div>
    <div #domContenedor2
    [ngStyle]="{
      background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
        ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+40
        : '#ffb13c'+40
    }"
    class="col-12 col-sm-4 background-pedidos contenedor-pedidos-enviados ">
      <div #domContenedor3 class="pedidos">

          <mat-accordion

          *ngFor="let pedido of pedidos" class="my-2">
            <mat-expansion-panel
            (click)="cambiarValorCambio(pedido)"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              class="my-2"
            >
              <mat-expansion-panel-header
              style="transition: 1s;"
              [ngStyle]="{'background-color': getColorPedido(pedido)}"

              >
                <mat-panel-title>
                  <div class="row w-100">
                    <div class="col">  {{getNombreMesa(pedido)}}</div>
                    <div  class="col " style="    white-space: pre;">     Tiempo: {{ timer(pedido) }} </div>
                  </div>


                  </mat-panel-title>

              </mat-expansion-panel-header>

              <span>Pedidos</span>
              <table class="table table-borderless text-center">
                <tr>
                  <th>Descripción</th>
                  <th>Cant. Pedidos</th>
                  <th>Cant. Listos</th>
                </tr>
                <tr [ngClass]="{'strikeout':ped.cantidad_pedido== ped.cantidad_lista}" *ngFor="let ped of pedido.pedidos">
                  <td>{{ped.plato.nombre_plato}}</td>
                  <td>{{ped.cantidad_pedido}}</td>
                  <td>{{ped.cantidad_lista}}</td>
                </tr>
              </table>
             <!--  <mat-accordion>
                <mat-expansion-panel
                (click)="cambiarValorCambio(pedido)"
                  (opened)="panelOpenState = true"
                  (closed)="panelOpenState = false"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title> Pedidos </mat-panel-title>

                  </mat-expansion-panel-header>

                  <mat-list>
                    <div *ngFor="let ped of pedido.pedidos">

                     <h5><b>Nombre: {{ped.plato.nombre_plato}} </b></h5>
                     <h5>Cantidad pedida: {{ped.cantidad_pedido}}</h5>
                     <h5>Servidos: {{ped.cantidad_servida}}</h5>


                    <mat-divider></mat-divider>
                  </div>

                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion> -->


        </mat-expansion-panel>
      </mat-accordion>

      </div>
    </div>
  </div>
</mat-drawer-container>
