<div class="container-fliud d-flex flex-sm-row flex-column-reverse m-0">
  <div class="col-12 col-sm-4 background-pedidos contenedor-pedidos"
  [ngStyle]="{
    background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+40
      : '#ffb13c'+40
  }"
  >
    <div class="pedidos h-100">
      <form>
        <div class="bg-white">
          <div class="selectBox" (click)="showCheckboxes()">
            <select class="form-select">
              <option>Seleccione categorias propias</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div *ngIf="expanded">
            <div class="form-check mx-3" *ngFor="let categoria of categorias"   for="{{ categoria._id }}">
              <input class="form-check-input"
              type="checkbox"
              id="{{ categoria._id }}"
              (click)="checkCategoria(categoria._id)"
              [checked]="ifExistCategoriaSeleccioanda(categoria._id)"
              >
              <label
              for="{{ categoria._id }}"
              class="form-check-label"  for="{{ categoria._id }}">
              {{ categoria.nombre_categoria }}
              </label>
            </div>


          </div>
        </div>
      </form>


        <mat-accordion  *ngFor="let pedido of pedidosFiltrados" class="my-2">
          <mat-expansion-panel class="my-2" [ngClass]="setColor(pedido)"
          [ngStyle]="{'background-color': setColor(pedido)}"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header class="my-2" >
              <mat-panel-title> <div class="row w-100">
                <div class="col-6 w-50">  {{getNombreMesa(pedido)}}</div>
                <div  class="col-6 w-50">     Tiempo: {{ timer(pedido) }} </div>
              </div>
             </mat-panel-title>
            </mat-expansion-panel-header>

            <span>Pedidos</span>
            <table class="table table-borderless text-center">
              <tr>
                <th>Descripción</th>
                <th>Cant. Pedidos</th>
                <th>Cant. Listos</th>
              </tr>
              <tr [ngClass]="{'strikeout':ped.cantidad_pedido== ped.cantidad_lista}" *ngFor="let ped of pedido.pedidos">
                <td>{{ped.plato.nombre_plato}}</td>
                <td>{{ped.cantidad_pedido}}</td>
                <td>{{ped.cantidad_lista}}</td>
              </tr>
            </table>

          <div class="d-flex justify-content-center">
            <button
              (click)="mostrarPlatos(pedido)"
              class="btn btn-primary px-5"
            >
              Ver
            </button>
            <!--    <button class="btn btn-danger">Cancelado</button> -->
          </div>

      </mat-expansion-panel>
    </mat-accordion>
      </div>

  </div>
  <div class="col-12 col-sm-8 container mt-3 contenedor-platos">
    <div class="row p-sm-5">
      <mat-card
        class="col m-3 text-center"
        *ngFor="let pedido of platosPedidos"
      >
        <p>Nombre: {{ pedido.plato.nombre_plato }}</p>
        <p>Cant. Pedida:{{ pedido.cantidad_pedido }}</p>
        <p>Listos:{{ pedido.cantidad_lista }}</p>
        <mat-chip-list
          class="example-chip"
          cdkDropList
          cdkDropListOrientation="horizontal"

        >
          <mat-chip
            class="example-box"
            cdkDrag
            *ngFor="let opcionRapida of pedido.opcionesRapidas"
          >
            {{ opcionRapida }}
          </mat-chip>
        </mat-chip-list>
        <div class="d-flex justify-content-center">
          <button
            *ngIf="pedido.cantidad_lista != pedido.cantidad_pedido"
            [disabled]="botonListo"
            (click)="modificarPedido(pedido)"
            class="btn btn-success px-5"
          >
            Listo
          </button>
        </div>
      </mat-card>
    </div>
  </div>

