
.multiselect {
  width: 200px;
}
td { position: relative; }

tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}




@media (min-width: 900px) {
  .contenedor-pedidos {
    height: calc(100vh - 80px);
    overflow-y: scroll;
    position: relative;
  }
  .contenido-maximo {
    height: 100vh;
    overflow: auto;
  }
  .contenedor-total{
    height: calc(100vh - 84px);
  }
}
@media (max-width: 900px) {
  .ejemplo_mesas{
    display: none;
  }
  .contenido-maximo {
    height: 50vh;
    overflow: auto;
  }
  .contenedor-total{
    height: 100vh;
  }
  .platos-contenedor{
    white-space: nowrap;
    overflow: auto;
    height: 65vh;
  }
}

@media (min-width: 575px) and (max-width: 900px)  {
  .contenedor-pedidos{
    height: 100vh ;
    overflow-y: scroll;
    position: relative;
}
  .contenido-maximo {
    height: 100vh;
    overflow: auto;
  }
}
@media (max-width: 575px) {
  .contenido-maximo {
    height: 50vh;
    overflow: auto;
  }
  .contenedor-pedidos{
    height: 50vh ;
    overflow-y: scroll;
    position: relative;
}

.contenedor-platos{
  overflow: auto;
  height: 50vh;
}

}
