.calificar{
    padding: 0;
    height: 200px;
    width: 200px;
    border-radius: 25px;
    font-size: 50px;
    margin: 15px;
    border: 0;
}
.imagenBoton{
    height: 200px;
    width: 200px;
    border-radius: 25px;
    font-size: 50px;
    border: 1px solid black;
}
.texto{
    font-size: 50px;
}

.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}