<mat-tab-group>
  <mat-tab label="Usuarios"><div class="col-md-10 container">
    <h2 style="margin: auto"> Usuarios</h2>

    <div class="table-responsive">
      <button mat-raised-button color="primary" (click)="openDialogAgregar()">Agregar usuario</button>
     <br> <mat-form-field appearance="standard">
        <mat-label>Buscador</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Escribe..." #input>
      </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="usuario_usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario_usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="nombre_usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="correo_usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo_usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="rol_usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol_usuario}} </td>
      </ng-container>
      <ng-container matColumnDef="Editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="openDialogEditar(element)" >
            <mat-icon class="mat-18">edit</mat-icon>
        </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="Eliminar">
          <th mat-header-cell *matHeaderCellDef> Eliminar </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="eliminarUsuario(element._id)">
              <mat-icon class="mat-18">delete</mat-icon>
          </button>
          </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator  #paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>
  </div>
  </div> </mat-tab>
  <mat-tab label="Roles"> 
    <div class="col-md-10 container">
      <h2 style="margin: auto"> Roles</h2>
    <div class="table-responsive">

    <table mat-table [dataSource]="roles" matSort>
      <ng-container matColumnDef="nombre_rol">
        <th mat-header-cell *matHeaderCellDef > Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_rol}} </td>
      </ng-container>
      <ng-container matColumnDef="descripcion_rol">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion_rol}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumnsRoles"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsRoles;"></tr>
    </table>
 <mat-paginator  #paginatorRol [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]">
    </mat-paginator>
  </div>
  </div>
</mat-tab>
</mat-tab-group>




