.contenedor{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(250, 242, 232);
}

.btn{
  background-color: rgb(243, 149, 87);
  border-color: burlywood;

}
input:-webkit-autofill {
  -webkit-box-shadow: none;
}
.mat-form-field {


}

@media (min-width: 900px) {
  .card_model{
    position: relative;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
    padding: 25px;
  }
}
@media (min-width: 500px) {
  .card_model{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
    padding: 25px;
  }
}

@media (max-width: 500px) {
  .card_model{
    position: absolute;

    height: 100vh;

    padding: 50px 25px;
  }
  .contenedor{
    background-color: antiquewhite;
  }
}


img{
  max-width:250px
}
.card{
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: antiquewhite;

}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  width: 400px;
}

.error {
  padding: 16px;
  width: 400px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
