<div class="contenedor"
[ngStyle]="{
  background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
    ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+40
    : '#ffb13c'+40
}"
>

<div class="card_model row" [ngStyle]="{
  background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
    ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+40
    : '#ffb13c'+40
}">
  <div class="d-none d-sm-block col-sm-6 ">
<div class=" d-flex flex-column justify-content-center h-100">
  <img  class="img-fluid" [src]="getBanner()" alt="">
</div>
    
  </div>
  <div class="col-12 col-sm-6">

    <div class=" d-flex justify-content-center">
        <img  class="img img-fluid" [src]="getLogo()" alt="">
    </div>



<form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Ingreese su usuario" formControlName="usuario_usuario">
      <mat-error *ngIf="loginForm.controls['usuario_usuario'].errors?.['required']">
        Usuario es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100"  appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput  placeholder="Ingrese contraseña" [type]="hide ? 'password' : 'text'" formControlName="contrasenia_usuario">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <mat-error *ngIf="loginForm.controls['contrasenia_usuario'].errors?.['required']">
            La contraseña es requerido.
          </mat-error>
          <mat-error *ngIf="loginForm.controls['contrasenia_usuario'].errors?.['pattern']">
            Contraseña debe contener 8 caracteres, por lo menos una minúscula, una mayúscula, un numero y un carácter especial.
          </mat-error>
        </mat-error>
      </mat-form-field>


  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  <div class="d-flex flex-column-reverse flex-sm-row justify-content-between">
  <button mat-button color="primary"  (click)="reset()">Olvide mi contraseña</button>
  <button

  [ngStyle]="{
    background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'cc'
      : '#ffb13c'+'cc',
      'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
      : '#ffb13c'
  }"
  type="submit" class="btn text-white">Iniciar sesión</button>
</div>
  <div class="button">

  </div>

</form>

</div>
</div>
</div>
