<div class="contenedor">
<mat-card>
    <mat-card-title>Bienvenido</mat-card-title>
    <div class="d-flex justify-content-center">

        <img width="250px" src="https://2.bp.blogspot.com/-YiWi32Pbamo/W1djBdPn0uI/AAAAAAAATrM/BKuX5dAzIOQWpbL65ahXyC6YOfumUX7ZwCK4BGAYYCw/s1600/tulogoaquifooter.png" alt="">
    </div>
<mat-card-content>
<form [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field class="w-100" appearance="outline">
        <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Ingreese su usuario" formControlName="usuario_usuario">
      <mat-error *ngIf="loginForm.controls['usuario_usuario'].errors?.['required']">
        Usuario es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-100"  appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput  placeholder="Ingrese contraseña" [type]="hide ? 'password' : 'text'" formControlName="contrasenia_usuario">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>
          <mat-error *ngIf="loginForm.controls['contrasenia_usuario'].errors?.['required']">
            La contraseña es requerido.
          </mat-error>
          <mat-error *ngIf="loginForm.controls['contrasenia_usuario'].errors?.['pattern']">
            Contraseña debe contener 8 caracteres, por lo menos una minuscula, una mayuscula, un numero y un caracter especial.
          </mat-error>
        </mat-error>
      </mat-form-field>


  <p *ngIf="error" class="error">
    {{ error }}
  </p>
  <div class="d-flex justify-content-between">
  <button mat-button color="primary">Olvide mi contraseña</button>
  <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</div>
  <div class="button">
    
  </div>

</form>
</mat-card-content>
</mat-card>
</div>