<mat-sidenav-container>
  <h1></h1>
  <mat-sidenav-content>
    <h1 class="mdc-typography--headline1">Agregar categoría</h1>
    <form autocomplete="off" [formGroup]="categoriaForm" (ngSubmit)="submitForm()" novalidate>

      <!-- Name -->
      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ingrese nombre de categoría" formControlName="nombre_categoria">
        <mat-error>
        
          <mat-error *ngIf="categoriaForm.controls['nombre_categoria'].errors?.['required']">
            El usuario es requerido.
          </mat-error>
      </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="outline" class="example-full-width">
        <mat-label>Descripción</mat-label>
        <input matInput placeholder="Ingrese descripción de categoría" formControlName="descripcion_categoria">
      </mat-form-field>


    



      <!-- Class -->

      <!-- Add Subjects -->


      <!-- Submit -->
      <div class="button-wrapper d-flex justify-content-between">
        <button mat-flat-button color="primary">Guardar</button>
        <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
      </div>
    </form>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  </mat-sidenav-content>
</mat-sidenav-container>