<div class="contenedor">

    <div  *ngIf="desktop; else mobile" >
        <app-navbar></app-navbar> 
        <router-outlet></router-outlet>
    </div>


       <ng-template #mobile>
   <div >

        <nav class="menu" *ngIf="state">
            <input (click)="checked()" id ="menu__toggle" type="checkbox" class='menu__toggle'/>
            <label for="menu__toggle" class="menu__toggle-label">
              
              <svg id="child1" class="d-block" for="menu__toggle" preserveAspectRatio='xMinYMin' viewBox='0 0 24 24'>
                <path d='M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z' />
              </svg>
              <svg id="child2"  class="d-none" preserveAspectRatio='xMinYMin' viewBox='0 0 24 24'>
                <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
              </svg>
            </label>
            <ol class='menu__content'  *ngIf="usuario.rol.nombre_rol == 'administrador'">
               
              <li class="menu-item"> <app-iconNavbar class="px-sm-5 px-1" text='Reportes' [icon]="chartAreaIcon" href='/administrador/reportes'></app-iconNavbar></li>
              <li class="menu-item"><app-iconNavbar class="px-sm-5 px-1" text='Usuarios' [icon]="usersIcon" href='/administrador/usuarios'></app-iconNavbar></li>
              <li class="menu-item">   <app-iconNavbar class="px-sm-5 px-1" text='Platos' [icon]="hamburgerIcon" href='/administrador/platos'></app-iconNavbar></li>
              <li class="menu-item"> <app-iconNavbar class="px-sm-5 px-1" text='Mesas' [icon]="squareIcon" href='/administrador/mesas'></app-iconNavbar></li>
              <li class="menu-item"> <app-iconNavbar class="px-sm-5 px-1" text='Clientes' [icon]="userFriendsIcon" href='/administrador/clientes'></app-iconNavbar></li>
              <li class="menu-item"><app-iconNavbar class="px-sm-5 px-1" text='Configuración' [icon]="cogsIcon" href='/administrador/configuracion'></app-iconNavbar></li>
              <li class="menu-item">  <a class="dropdown-item">Editar perfil</a></li>
              <li class="menu-item"> <a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
            </ol>
            <ol class='menu__content'  *ngIf="usuario.rol.nombre_rol == 'mesero'">
                <li class="menu-item">   <app-iconNavbar class="px-sm-5 px-1" text='mesas' [icon]="squareIcon" href='/mesero/mesas'></app-iconNavbar></li>
                <li class="menu-item">  <a class="dropdown-item" >Editar perfil</a></li>
                <li class="menu-item"> <a class="dropdown-item"  (click)="logout()">Cerrar sesión</a></li>
              </ol>
            <ol class='menu__content'  *ngIf="usuario.rol.nombre_rol == 'cocinero'">
                <li class="menu-item">  <app-iconNavbar class="px-sm-5 px-1" text='cocina' [icon]="fish" href='/cocina/cocina'></app-iconNavbar></li>
                <li class="menu-item">  <a class="dropdown-item">Editar perfil</a></li>
                <li class="menu-item"> <a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
              </ol>
            <ol class='menu__content'  *ngIf="usuario.rol.nombre_rol == 'cajerp'">
                <li class="menu-item">  <app-iconNavbar class="px-sm-5 px-1" text='caja' [icon]="cashRegisterIcon" href='/cajero/caja'></app-iconNavbar></li>
                <li class="menu-item">  <a class="dropdown-item" href="#">Editar perfil</a></li>
                <li class="menu-item"> <a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
              </ol>
             
          </nav>

            <router-outlet style="height: 100vh;"></router-outlet>


    </div>
</ng-template>

</div>
    

