<h2 class="text-center">
  Cierre de caja completado
</h2>
<table class="table">
  <thead>

  </thead>
  <tbody>
    <tr>
      <th scope="row">Caja de apertura</th>
      <td>{{caja.caja_chica|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de egreso</th>
      <td>{{caja.cantidad_egreso|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de ingreso</th>
      <td>{{caja.cantidad_ingreso|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de recargos</th>
      <td>{{caja.cantidad_intereses|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de descuentos</th>
      <td>{{caja.cantidad_descuentos|currency}}</td>
    </tr>
    <tr *ngIf="permiso>=2" >
      <th scope="row" >Total de efectivo</th>
      <td>{{caja.caja_chica +  caja.cantidad_efectivo|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de otras formas de pago</th>
      <td>{{caja.cantidad_transferencia|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Cierre de caja</th>
      <td>{{caja.cierre_caja|currency}}</td>
    </tr>
    <tr *ngIf="permiso>=2" >
      <th scope="row">Sobrante o faltante de caja</th>
      <td>{{caja.cierre_caja -(caja.caja_chica +  caja.cantidad_efectivo)  |currency}}</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center w-100">
  <button (click)="aceptar()" class="btn btn-primary">Aceptar</button>
  <a [href]="'http://localhost:3000/api/caja/reporte/'+caja._id"  class="mx-5" download="newfilename" target="_blank">Descargar</a>
</div>
