<h2 class="text-center">
  Cierre de caja completado
</h2>
<table class="table">
  <thead>

  </thead>
  <tbody>
    <tr>
      <th scope="row">caja chica</th>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">cantidad_egreso</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">cantidad_ingreso</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">cantidad_intereses</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">cantidad_descuentos</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">cantidad_efectivo</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">cantidad_transferencia</th>
      <td>Jacob</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center w-100">
  <button (click)="aceptar()" class="btn btn-primary">Aceptar</button>
</div>
