<mat-sidenav-container>
    <h1></h1>
    <mat-sidenav-content>
      <h1 class="mdc-typography--headline1">Agregar mesa</h1>
      <fa-icon  class="text-muted display-3 " [icon]="faSquare"></fa-icon>
      <form  [formGroup]="mesaForm" (ngSubmit)="submitForm()" novalidate>
  
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Numero de mesas que desea agregar" formControlName="numero_Mesa">
        </mat-form-field>
  
  
  
      
        <div class="button-wrapper d-flex justify-content-between">
          <button mat-flat-button color="primary">Agregar cantidad de mesas</button>
          <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        </div>
  
      </form>
     
  
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    </mat-sidenav-content>
  </mat-sidenav-container>