
<mat-sidenav-container>
  <h1></h1>
  <mat-sidenav-content>
    <h1 class="mdc-typography--headline1">Agregar plato</h1>
    
    <form  [formGroup]="platoForm" (ngSubmit)="submitForm()" novalidate>
      
      

      <!-- Name -->
      <mat-form-field class="example-full-width mb-2">
        <input matInput placeholder="Nombre" formControlName="nombre_plato">
        <mat-error *ngIf="this.platoForm.get('nombre_plato').errors?.['required']">Falta nombre de plato.</mat-error>

      </mat-form-field>

      <mat-form-field class="example-full-width mb-2">
        <input matInput placeholder="Descripción" formControlName="descripcion_plato">
        <mat-error *ngIf="this.platoForm.get('descripcion_plato').errors?.['required']">Falta descripción de plato.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Receta</mat-label>
        <textarea matInput  formControlName="receta_plato"></textarea>
        <mat-error *ngIf="this.platoForm.get('receta_plato').errors?.['required']">Falta receta de plato.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" floatLabel="always">

        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="precio_plato" class="example-right-align" pattern="[0-9]+([\.,][0-9]+)?" placeholder="0.00">
        <span matPrefix>$&nbsp;</span>
        <mat-error *ngIf="this.platoForm.get('precio_plato').errors?.['required']">Falta precio de plato.</mat-error>
      </mat-form-field>

       <mat-chip-list selectable multiple>
        <mat-chip #c="matChip" (selectionChange)="true"  *ngFor="let   categoria of categorias" [value]="categoria" (click)="toggleSelection(c)">
            {{categoria.nombre_categoria}}
        </mat-chip>
       
    </mat-chip-list>
    <mat-error *ngIf="validatoMinLength()">Falta categoria de plato.</mat-error>
      <!-- Class -->

      <!-- Add Subjects -->


      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Guardar</button>
      </div>

    </form>
    <button mat-button color="warn" mat-dialog-close>Cancelar</button>

    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  </mat-sidenav-content>
</mat-sidenav-container>