<div *ngIf="view ==0">

<h1>Restablecer contraseña</h1>
<h3>Ingresa tu correo de usuario</h3>
<form action="" [formGroup]="correoForm">
<mat-form-field  appearance="outline" class="w-100">
  <mat-label>Correo</mat-label>
  <input matInput placeholder="Ingrese su correo electrónico" formControlName="correo">
  <mat-error >
    <mat-error *ngIf="correoForm.controls['correo'].errors?.['required']">
      correo es requerido.
    </mat-error>
    <mat-error *ngIf="correoForm.controls['correo'].errors?.['email']">
     Correo debe tener formato de correo.
    </mat-error>
  </mat-error>
</mat-form-field>
<br>
<div class="d-flex justify-content-end">
  <button
  [ngStyle]="{
    background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'cc'
      : '#ffb13c'+'cc',
      'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
      : '#ffb13c'
  }"
  (click)="enviarReset()" class="btn btn-primary">Enviar</button>
</div>

</form>
  
</div>
<div *ngIf="view==1">
  <h1>Se ha enviado el link de restablecer contraseña a tu correo. <br>Revisa tu correo.</h1>
  <div class="d-flex justify-content-center">
    <button
    [ngStyle]="{
      background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
        ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'cc'
        : '#ffb13c'+'cc',
        'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
        ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
        : '#ffb13c'
    }"
    (click)="cerrar()" class="btn btn-primary">Cerrar</button>
  </div>
</div>