<div id="chart">
  <h2>Reporte de satisfacción</h2>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Mesero</label>
    <select [(ngModel)]="mesero" (change)="orgValueChange()" class="form-select" id="inputGroupSelect01">
      <option value="" selected>Todos</option>
      <option value={{mesero._id}} *ngFor="let mesero of meseros" >{{mesero.usuario_usuario}}</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Tipo de filtrado</label>
    <select [(ngModel)]="tipoFiltrado" (change)="cambiarTipos()" class="form-select" id="inputGroupSelect01">
      <option value="1" >Días</option>
      <option value="2" selected>Meses</option>
      <option value="3">Años</option>
    </select>
  </div>
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">Tipo de selección</label>
    <select  [(ngModel)]="tipoSeleccion" (change)="cambiarTipos()" class="form-select" id="inputGroupSelect01">
      <option value="1" selected>Rangos</option>
      <option value="2">Selección unica</option>
    </select>
  </div>

<div *ngIf="tipoFiltrado==1">
  <mat-form-field dateFormat3 appearance="fill"  *ngIf="tipoSeleccion==1;else tipoSeleccion2" >
    <mat-label>Rango de días</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input  [(ngModel)]="fechaInicio" matStartDate placeholder="Start date">
      <input (dateChange)="orgValueChange()" [(ngModel)]="fechaFin" matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #picker
    startView="multi-year"
    (yearSelected)="chosenYearHandler($event, picker)"
    (monthSelected)="chosenMonthHandler($event, picker)"
    ></mat-date-range-picker>
  </mat-form-field>


<ng-template #tipoSeleccion2>
  <mat-form-field dateFormat3 appearance="fill">
    <mat-label>dia/mes/año</mat-label>
    <input (dateChange)="orgValueChange()"  [(ngModel)]="fechaInicio" matInput [matDatepicker]="dp">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp

                    startView="multi-year"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
</ng-template>
</div>
<div *ngIf="tipoFiltrado==2">
  <mat-form-field dateFormat2 appearance="fill"  *ngIf="tipoSeleccion==1;else tipoSeleccion2" >
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input [(ngModel)]="fechaInicio" matStartDate placeholder="Start date">
      <input  [(ngModel)]="fechaFin" matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker
    startView="multi-year"
                  (yearSelected)="chosenYearHandler($event, picker)"
                  (monthSelected)="chosenMonthHandler($event, picker)"
    ></mat-date-range-picker>
  </mat-form-field>


<ng-template #tipoSeleccion2>
  <mat-form-field dateFormat2 appearance="fill">
    <mat-label>Month and Year</mat-label>
    <input [(ngModel)]="fechaInicio"  matInput [matDatepicker]="dp">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
    (yearSelected)="chosenYearHandler2($event, dp)"
    (monthSelected)="chosenMonthHandler2($event, dp)"
                    startView="multi-year"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
</ng-template>
</div>
<div *ngIf="tipoFiltrado==3">
  <mat-form-field dateFormat1 appearance="fill"  *ngIf="tipoSeleccion==1;else tipoSeleccion2" >
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input  [(ngModel)]="fechaInicio" matStartDate placeholder="Start date">
      <input  [(ngModel)]="fechaFin" matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker
    startView="multi-year"
                  (yearSelected)="chosenYearHandler($event, picker)"
                  (monthSelected)="chosenMonthHandler($event, picker)"
    ></mat-date-range-picker>
  </mat-form-field>


<ng-template #tipoSeleccion2>
  <mat-form-field dateFormat1 appearance="fill">
    <mat-label>Month and Year</mat-label>
    <input [(ngModel)]="fechaInicio"  matInput [matDatepicker]="dp" >
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler2($event, dp)"
                    (monthSelected)="chosenMonthHandler2($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
</ng-template>
</div>





  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [colors]="chartOptions.colors"
    [dataLabels]="chartOptions.dataLabels"
    [legend]="chartOptions.legend"
    [markers]="chartOptions.markers"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
  ></apx-chart>
</div>
