<mat-tab-group>
  <mat-tab label="Estilo">
    <div class="container">
      <form [formGroup]="estiloConfig">
      <h3>Estilo</h3>
      <span
        >Nota: Si desea personalizar un color, habilite el check y escoja un
        color.</span
      >
      <br />
      <br />
    
      <div class="row">
        <div class="col-6">
          <label for="" class="text-center w-100"> <b>Total</b></label> <br>
          <label for="" class="form-label">Color de la aplicación</label>
          <div class="d-flex">
            <mat-checkbox
              color="primary"
              formControlName="checkColorAplicacion"
              class="my-auto mx-3"
              (click)="
                estiloConfig.get('checkColorAplicacion').setValue(!estiloConfig.get('checkColorAplicacion').value)
              "
            >
            </mat-checkbox>
            
            <input
              type="color"
              formControlName="colorAplicacion"
              class="form-control form-control-color"
              title="Choose your color"
                (colorPickerChange)="
                estiloConfig.get('colorAplicacion').setValue($event)"
            />
          </div>
          <hr>
          <label for="" class="text-center w-100"> <b>Mesas</b></label> <br>
          <label for="" class="form-label">Color de mesa satisfacción adecuada.</label>
          <div class="d-flex">
            <mat-checkbox
              color="primary"
              formControlName="checkColorSatisfaccion"
              class="my-auto mx-3"
              (click)="
              estiloConfig
                  .get('checkColorSatisfaccion')
                  .setValue(!estiloConfig.get('checkColorSatisfaccion').value)
              "
            >
            </mat-checkbox>
            <input
              type="color"
              formControlName="colorSatisfaccion"
              class="form-control form-control-color"
              formGroupName="colorSatisfaccion"
              title="Choose your color"
            />
          </div>
          <label for="" class="form-label"
            >Color de mesa satisfaccion media.</label
          >
          <div class="d-flex">
            <mat-checkbox
              color="primary"
              formControlName="checkColorSatisfaccionMedia"
              class="my-auto mx-3"
              (click)="
              estiloConfig
                  .get('checkColorSatisfaccionMedia')
                  .setValue(
                    !estiloConfig.get('checkColorSatisfaccionMedia').value
                  )
              "
            >
            </mat-checkbox>
            <input
              type="color"
              (colorPickerChange)="
              estiloConfig.get('colorSatisfaccionMedia').setValue($event)
              "
              formControlName="colorSatisfaccionMedia"
              class="form-control form-control-color"
              title="Choose your color"
            />
          </div>
          <label for="" class="form-label"
            >Color de mesa insatisfacción.</label
          >
          <div class="d-flex">
            <mat-checkbox
              color="primary"
              formControlName="checkColorDisatisfaccion"
              class="my-auto mx-3"
              (click)="
              estiloConfig
                  .get('checkColorDisatisfaccion')
                  .setValue(
                    !estiloConfig.get('checkColorDisatisfaccion').value
                  )
              "
            >
            </mat-checkbox>
            <input
              type="color"
              formControlName="colorDisatisfaccion"
              (colorPickerChange)="
              estiloConfig.get('colorDisatisfaccion').setValue($event)
              "
              class="form-control form-control-color"
              title="Choose your color"
            />
          </div>
          <label for="" class="form-label"
            >Color de mesa fuera de tiempo.</label
          >
          <div class="d-flex">
            <mat-checkbox
              color="primary"
              formControlName="checkColorFueraTiempo"
              class="my-auto mx-3"
              (click)="
              estiloConfig
                  .get('checkColorFueraTiempo')
                  .setValue(!estiloConfig.get('checkColorFueraTiempo').value)
              "
            >
            </mat-checkbox>
            <input
              type="color"
              formControlName="colorFueraTiempo"
              (colorPickerChange)="
              estiloConfig.get('colorFueraTiempo').setValue($event)
              "
              class="form-control form-control-color"
              title="Choose your color"
            />
          </div>
          <label for="" class="form-label">Color de mesa ocupada.</label>
          <div class="d-flex">
            <mat-checkbox
              color="primary"
              formControlName="checkColorOcupada"
              class="my-auto mx-3"
              (click)="
              estiloConfig
                  .get('checkColorOcupada')
                  .setValue(!estiloConfig.get('checkColorOcupada').value)
              "
            >
            </mat-checkbox>
            <input
              type="color"
              formControlName="colorOcupada"
              (colorPickerChange)="
              estiloConfig.get('colorOcupada').setValue($event)
              "
              class="form-control form-control-color"
              title="Choose your color"
            />
          </div>
          <label for="" class="form-label">Color de mesa disponible.</label>
          <div class="d-flex">
            <mat-checkbox
              color="primary"
              formControlName="checkColorDisponible"
              class="my-auto mx-3"
              (click)="
              estiloConfig
                  .get('checkColorDisponible')
                  .setValue(!estiloConfig.get('checkColorDisponible').value)
              "
            >
            </mat-checkbox>
            <input
              type="color"
              formControlName="colorDisponible"
              (colorPickerChange)="
              estiloConfig.get('colorDisponible').setValue($event)
              "
              class="form-control form-control-color"
              title="Choose your color"
            />
          </div>
        </div>
        <div class="col-6">
          <div class="p-5 w-100">
            <div class="header-preview-mesero w-100"
            [ngStyle]="{
              background: this.estiloConfig.get(
                'checkColorAplicacion'
              ).value
                ? this.estiloConfig.get('colorAplicacion').value
                : '#ffb13c'
            }"
            ></div>
            <div
              class="container-preview-mesero w-100 border border-secondary"
            >
              <div class="row m-0 h-100">
                <div class="col-9 px-3">
                  <div class="row text-center">
                    <div class="col-3">
                      <fa-icon
                        [ngStyle]="{
                          color: this.estiloConfig.get(
                            'checkColorSatisfaccion'
                          ).value
                            ? this.estiloConfig.get('colorSatisfaccion').value
                            : '#28a745'
                        }"
                        class="display-6 mesa mesa-preview-mesero"
                        [icon]="faSquareIcon"
                      ></fa-icon>
                    </div>
                    <div class="col-3">
                      <fa-icon
                        [ngStyle]="{
                          color: this.estiloConfig.get(
                            'checkColorSatisfaccionMedia'
                          ).value
                            ? this.estiloConfig.get('colorSatisfaccionMedia')
                                .value
                            : '#ffc107'
                        }"
                        class="display-6 mesa mesa-preview-mesero"
                        [icon]="faSquareIcon"
                      ></fa-icon>
                    </div>
                    <div class="col-3">
                      <fa-icon
                        [ngStyle]="{
                          color: this.estiloConfig.get(
                            'checkColorDisatisfaccion'
                          ).value
                            ? this.estiloConfig.get('colorDisatisfaccion')
                                .value
                            : '#dc3545'
                        }"
                        class="display-6 mesa mesa-preview-mesero"
                        [icon]="faSquareIcon"
                      ></fa-icon>
                    </div>
                    <div class="col-3">
                      <fa-icon
                        [ngStyle]="{
                          color: this.estiloConfig.get(
                            'checkColorFueraTiempo'
                          ).value
                            ? this.estiloConfig.get('colorFueraTiempo').value
                            : '#343a40'
                        }"
                        class="display-6 mesa mesa-preview-mesero"
                        [icon]="faSquareIcon"
                      ></fa-icon>
                    </div>
                    <div class="col-3">
                      <fa-icon
                        [ngStyle]="{
                          color: this.estiloConfig.get('checkColorOcupada')
                            .value
                            ? this.estiloConfig.get('colorOcupada').value
                            : '#6c757d'
                        }"
                        class="display-6 mesa mesa-preview-mesero"
                        [icon]="faSquareIcon"
                      ></fa-icon>
                    </div>
                    <div class="col-3">
                      <fa-icon
                        [ngStyle]="{
                          color: this.estiloConfig.get('checkColorDisponible')
                            .value
                            ? this.estiloConfig.get('colorDisponible').value
                            : '#0d6efd'
                        }"
                        class="display-6 mesa mesa-preview-mesero"
                        [icon]="faSquareIcon"
                      ></fa-icon>
                    </div>
                  </div>
                </div>
                <div class="col-3 pedidos-preview-mesero p-0" [ngStyle]="{
                  background: this.estiloConfig.get(
                    'checkColorAplicacion'
                  ).value
                    ? this.estiloConfig.get('colorAplicacion').value+24
                    : '#ffb13c'+24
                }">
                <div>
                  
                </div>
                <div class="d-flex justify-content-center align-items-center w-100 flex-column">
                  <div class="preview-pedido-mesero"></div>
                  <div 
                  [ngStyle]="{
                    background: this.estiloConfig.get(
                      'checkColorAplicacion'
                    ).value
                      ? this.estiloConfig.get('colorAplicacion').value+40
                      : '#ffb13c'+40
                  }"
                  class="preview-pedido-mesero"></div>
                  <div class="preview-pedido-mesero"></div>
                </div>
               
              </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-5">
        <button
          mat-raised-button
          color="primary"
          (click)="guardarConfiguracionEstilo()"
        >
          Guardar
        </button>
      </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Mesero">
    <div class="container">
      <form [formGroup]="meseroConfig">
        <h3>Seleccione rangos máximos de espera en minutos.</h3>
        <mat-form-field appearance="outline" class="my-2">
          <mat-label>Satisfacción adecuada</mat-label>
          <input
            formControlName="satisfaccionAdecuada"
            type="number"
            matInput
            placeholder="0"
          />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Ejemplo: 5</mat-hint>
          <mat-error>
            <mat-error
              *ngIf="this.meseroConfig.get('satisfaccionAdecuada').errors?.['required']"
            >
              Satisfacción adecuada requiere un numero.
            </mat-error>
            <mat-error
              *ngIf="this.meseroConfig.get('satisfaccionAdecuada').errors?.['mayoresMenores']"
            >
              Satisfacción adecuada no puede ser mayor que satisfacción media e
              insatisfacción.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="my-2">
          <mat-label>Satisfacción media</mat-label>
          <input
            formControlName="satisfaccionMedia"
            type="number"
            matInput
            placeholder="0"
          />
          <mat-icon matSuffix>sentiment_dissatisfied</mat-icon>
          <mat-hint>Ejemplo: 10</mat-hint>
          <mat-error>
            <mat-error
              *ngIf="this.meseroConfig.get('satisfaccionMedia').errors?.['required']"
            >
              Satisfacción media requiere un numero.
            </mat-error>
            <mat-error
              *ngIf="this.meseroConfig.get('satisfaccionMedia').errors?.['mayoresMenores']"
            >
              Satisfacción media no puede ser menor que satisfaccion adecuada y
              mayor que insatisfacción.
            </mat-error>
          </mat-error> </mat-form-field
        ><br />
        <mat-form-field appearance="outline" class="my-2">
          <mat-label>Insatisfacción</mat-label>
          <input
            formControlName="disatisfaccion"
            type="number"
            matInput
            placeholder="0"
          />
          <mat-icon matSuffix>sentiment_very_dissatisfied</mat-icon>
          <mat-hint>Ejemplo: 15</mat-hint>
          <mat-error>
            <mat-error
              *ngIf="this.meseroConfig.get('disatisfaccion').errors?.['required']"
            >
              Insatisfacción requiere un numero.
            </mat-error>
            <mat-error
              *ngIf="this.meseroConfig.get('disatisfaccion').errors?.['mayoresMenores']"
            >
              Insatisfacción no puede ser menor que satisfaccion adecuada y
              satisfaccion media.
            </mat-error>
          </mat-error> </mat-form-field
        ><br />
        <hr />

        <h3>Colores</h3>
        <span
          >Nota: Si desea personalizar un color, habilite el check y escoja un
          color.</span
        >
        <br />
        <div class="row">
          <div class="col-6">
            <label for="" class="form-label"
              >Color de mesa satisfaccion adecuada.</label
            >
            <div class="d-flex">
              <mat-checkbox
                color="primary"
                formControlName="checkColorSatisfaccion"
                class="my-auto mx-3"
                (click)="
                  meseroConfig
                    .get('checkColorSatisfaccion')
                    .setValue(!meseroConfig.get('checkColorSatisfaccion').value)
                "
              >
              </mat-checkbox>
              <input
                type="color"
                formControlName="colorSatisfaccion"
                class="form-control form-control-color"
                formGroupName="colorSatisfaccion"
                title="Choose your color"
              />
            </div>
            <label for="" class="form-label"
              >Color de mesa satisfaccion media.</label
            >
            <div class="d-flex">
              <mat-checkbox
                color="primary"
                formControlName="checkColorSatisfaccionMedia"
                class="my-auto mx-3"
                (click)="
                  meseroConfig
                    .get('checkColorSatisfaccionMedia')
                    .setValue(
                      !meseroConfig.get('checkColorSatisfaccionMedia').value
                    )
                "
              >
              </mat-checkbox>
              <input
                type="color"
                (colorPickerChange)="
                  meseroConfig.get('colorSatisfaccionMedia').setValue($event)
                "
                formControlName="colorSatisfaccionMedia"
                class="form-control form-control-color"
                title="Choose your color"
              />
            </div>
            <label for="" class="form-label"
              >Color de mesa insatisfacción.</label
            >
            <div class="d-flex">
              <mat-checkbox
                color="primary"
                formControlName="checkColorDisatisfaccion"
                class="my-auto mx-3"
                (click)="
                  meseroConfig
                    .get('checkColorDisatisfaccion')
                    .setValue(
                      !meseroConfig.get('checkColorDisatisfaccion').value
                    )
                "
              >
              </mat-checkbox>
              <input
                type="color"
                formControlName="colorDisatisfaccion"
                (colorPickerChange)="
                  meseroConfig.get('colorDisatisfaccion').setValue($event)
                "
                class="form-control form-control-color"
                title="Choose your color"
              />
            </div>
            <label for="" class="form-label"
              >Color de mesa fuera de tiempo.</label
            >
            <div class="d-flex">
              <mat-checkbox
                color="primary"
                formControlName="checkColorFueraTiempo"
                class="my-auto mx-3"
                (click)="
                  meseroConfig
                    .get('checkColorFueraTiempo')
                    .setValue(!meseroConfig.get('checkColorFueraTiempo').value)
                "
              >
              </mat-checkbox>
              <input
                type="color"
                formControlName="colorFueraTiempo"
                (colorPickerChange)="
                  meseroConfig.get('colorFueraTiempo').setValue($event)
                "
                class="form-control form-control-color"
                title="Choose your color"
              />
            </div>
            <label for="" class="form-label">Color de mesa ocupada.</label>
            <div class="d-flex">
              <mat-checkbox
                color="primary"
                formControlName="checkColorOcupada"
                class="my-auto mx-3"
                (click)="
                  meseroConfig
                    .get('checkColorOcupada')
                    .setValue(!meseroConfig.get('checkColorOcupada').value)
                "
              >
              </mat-checkbox>
              <input
                type="color"
                formControlName="colorOcupada"
                (colorPickerChange)="
                  meseroConfig.get('colorOcupada').setValue($event)
                "
                class="form-control form-control-color"
                title="Choose your color"
              />
            </div>
            <label for="" class="form-label">Color de mesa disponible.</label>
            <div class="d-flex">
              <mat-checkbox
                color="primary"
                formControlName="checkColorDisponible"
                class="my-auto mx-3"
                (click)="
                  meseroConfig
                    .get('checkColorDisponible')
                    .setValue(!meseroConfig.get('checkColorDisponible').value)
                "
              >
              </mat-checkbox>
              <input
                type="color"
                formControlName="colorDisponible"
                (colorPickerChange)="
                  meseroConfig.get('colorDisponible').setValue($event)
                "
                class="form-control form-control-color"
                title="Choose your color"
              />
            </div>
          </div>
          <div class="col-6">
            <div class="p-5 w-100">
              <div class="header-preview-mesero w-100"></div>
              <div
                class="container-preview-mesero w-100 border border-secondary"
              >
                <div class="row h-100">
                  <div class="col-9 px-3">
                    <div class="row text-center">
                      <div class="col-3">
                        <fa-icon
                          [ngStyle]="{
                            color: this.meseroConfig.get(
                              'checkColorSatisfaccion'
                            ).value
                              ? this.meseroConfig.get('colorSatisfaccion').value
                              : '#28a745'
                          }"
                          class="display-6 mesa mesa-preview-mesero"
                          [icon]="faSquareIcon"
                        ></fa-icon>
                      </div>
                      <div class="col-3">
                        <fa-icon
                          [ngStyle]="{
                            color: this.meseroConfig.get(
                              'checkColorSatisfaccionMedia'
                            ).value
                              ? this.meseroConfig.get('colorSatisfaccionMedia')
                                  .value
                              : '#ffc107'
                          }"
                          class="display-6 mesa mesa-preview-mesero"
                          [icon]="faSquareIcon"
                        ></fa-icon>
                      </div>
                      <div class="col-3">
                        <fa-icon
                          [ngStyle]="{
                            color: this.meseroConfig.get(
                              'checkColorDisatisfaccion'
                            ).value
                              ? this.meseroConfig.get('colorDisatisfaccion')
                                  .value
                              : '#dc3545'
                          }"
                          class="display-6 mesa mesa-preview-mesero"
                          [icon]="faSquareIcon"
                        ></fa-icon>
                      </div>
                      <div class="col-3">
                        <fa-icon
                          [ngStyle]="{
                            color: this.meseroConfig.get(
                              'checkColorFueraTiempo'
                            ).value
                              ? this.meseroConfig.get('colorFueraTiempo').value
                              : '#343a40'
                          }"
                          class="display-6 mesa mesa-preview-mesero"
                          [icon]="faSquareIcon"
                        ></fa-icon>
                      </div>
                      <div class="col-3">
                        <fa-icon
                          [ngStyle]="{
                            color: this.meseroConfig.get('checkColorOcupada')
                              .value
                              ? this.meseroConfig.get('colorOcupada').value
                              : '#6c757d'
                          }"
                          class="display-6 mesa mesa-preview-mesero"
                          [icon]="faSquareIcon"
                        ></fa-icon>
                      </div>
                      <div class="col-3">
                        <fa-icon
                          [ngStyle]="{
                            color: this.meseroConfig.get('checkColorDisponible')
                              .value
                              ? this.meseroConfig.get('colorDisponible').value
                              : '#0d6efd'
                          }"
                          class="display-6 mesa mesa-preview-mesero"
                          [icon]="faSquareIcon"
                        ></fa-icon>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 pedidos-preview-mesero"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <h3>Pedidos de mesero.</h3>
        <mat-checkbox
          color="primary"
          formControlName="meseroEdit"
          class="example-margin"
          (click)="
            meseroConfig
              .get('meseroEdit')
              .setValue(!meseroConfig.get('meseroEdit').value)
          "
        >
          Un mesero podrá editar mesas ocupadas por otros meseros.
        </mat-checkbox>
        <div class="d-flex justify-content-center mb-5">
          <button
            mat-raised-button
            color="primary"
            (click)="guardarConfiguracionMesero()"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Cocina">
    <div class="container">
      <h3>Colores</h3>
      <span
        >Nota: Si desea personalizar un color, habilite el check y escoja un
        color.</span
      >
      <br />
      <label for="" class="form-label">Color de mesas listas.</label>
      <div class="d-flex">
        <mat-checkbox color="primary" class="my-auto mx-3"> </mat-checkbox>
        <input
          type="color"
          class="form-control form-control-color"
          value="#563d7c"
          title="Choose your color"
        />
      </div>
      <label for="" class="form-label">Color de botón ver.</label>
      <div class="d-flex">
        <mat-checkbox color="primary" class="my-auto mx-3"> </mat-checkbox
        ><input
          type="color"
          class="form-control form-control-color"
          value="#563d7c"
          title="Choose your color"
        />
      </div>
      <label for="" class="form-label">Color de botón listo.</label>
      <div class="d-flex">
        <mat-checkbox color="primary" class="my-auto mx-3"> </mat-checkbox
        ><input
          type="color"
          class="form-control form-control-color"
          value="#563d7c"
          title="Choose your color"
        />
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Cajero">
    <div class="container">
      <form action="" [formGroup]="configuracionCaja">
        <h3>IVA</h3>
        <mat-form-field appearance="outline">
          <mat-label>Porcentaje de IVA</mat-label>
          <input
            formControlName="iva"
            matInput
            type="number"
            placeholder="IVA"
          />
          <mat-icon matSuffix>%</mat-icon>
          <mat-hint>Ejemplo: 12 </mat-hint>
        </mat-form-field><br>
        <mat-checkbox
            color="primary"
            formControlName="checkIVA"
            (click)="
              configuracionCaja
                .get('checkIVA')
                .setValue(!configuracionCaja.get('checkIVA').value)
            "
            class="my-auto mx-3"
          >
          Productos incluyen IVA.
      </mat-checkbox>
        <hr />
        <h3>Métodos de pago</h3>
        <button class="btn btn-primary" (click)="addMetodoPago()">
          Agregar método de pago
        </button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre del método de pago</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Valor</th>
              <th scope="col">Descuento/Interés</th>
              <th scope="col">Estado</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody formArrayName="metodosPago">
            <tr
              *ngFor="let metodoPago of metodosPago.controls; let i = index"
              [formGroup]="metodoPago"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input
                    formControlName="nombre"
                    matInput
                    type="text"
                    placeholder="Ingrese nombre del método de pago"
                  />
                  <mat-hint>Ejemplo: Efectivo </mat-hint>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Porcentaje</mat-label>

                  <input
                    formControlName="porcentaje"
                    matInput
                    type="number"
                    placeholder="Ingrese el porcentaje del método de pago"
                  />
                  <mat-icon matSuffix>%</mat-icon>
                  <mat-hint>Numero del 0 al 100 </mat-hint>
                </mat-form-field>
              </td>

              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Valor</mat-label>
                  <mat-icon matPrefix>$</mat-icon>
                  <input
                    formControlName="valor"
                    matInput
                    type="number"
                    placeholder="Ingrese el valor del método de pago"
                  />

                  <mat-hint>Ejemplo: 2.50 </mat-hint>
                </mat-form-field>
              </td>
              <td>
                <div class="form-check form-switch">
                  <input
                    formControlName="descuentoIncremento"
                    class="form-check-input"
                    type="checkbox"
                    [id]="'metodo'+i"
                  />
                  <label
                    class="form-check-label"
                    [for]="'metodo'+i"
                    >{{
                      metodoPago.get("descuentoIncremento").value
                        ? "Interés"
                        : "Descuento"
                    }}</label
                  >
                </div>
              </td>
              <td>
                <mat-form-field>
                  <input matInput formControlName="estado" />
                </mat-form-field>
              </td>
              <td><button mat-raised-button color="warn">-</button></td>
            </tr>
          </tbody>
        </table>

        <hr />
        <h3>Descuentos e intereses</h3>
        <button class="btn btn-primary" (click)="addDescuentoInteres()">
          Agregar descuento o interés
        </button>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre del descuento o interés</th>
              <th scope="col">Porcentaje</th>
              <th scope="col">Valor</th>
              <th scope="col">Descuento/Interés</th>
              <th scope="col">Estado</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody formArrayName="descuentosIntereses">
            <tr
              *ngFor="let promocion of descuentosIntereses.controls; let i = index"
              [formGroup]="promocion"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input
                    formControlName="nombre"
                    matInput
                    type="text"
                    placeholder="Ingrese nombre del descuento o interés"
                  />
                  <mat-hint>Ejemplo: Cumpleaños </mat-hint>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Porcentaje</mat-label>

                  <input
                    formControlName="porcentaje"
                    matInput
                    type="number"
                    placeholder="Ingrese el porcentaje del descuento o interés"
                  />
                  <mat-icon matSuffix>%</mat-icon>
                  <mat-hint>numero del 0 al 100 </mat-hint>
                </mat-form-field>
              </td>

              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Valor</mat-label>
                  <mat-icon matPrefix>$</mat-icon>
                  <input
                    formControlName="valor"
                    matInput
                    type="number"
                    placeholder="Ingrese el valor del descuento o interés"
                  />

                  <mat-hint>Ejemplo: 2.50 </mat-hint>
                </mat-form-field>
              </td>
              <td>
                <div class="form-check form-switch">
                  <input
                  formControlName="descuentoIncremento"   class="form-check-input" type="checkbox" [id]="'descuentoIncremento'+i">
                  <label class="form-check-label" [for]="'descuetosIntereses'+i">{{(promocion.get('descuentoIncremento').value)?'Interés':'Descuento'}}</label>
                </div>
  
            </td>
              <td>
                <mat-form-field>
                  <input matInput formControlName="estado" />
                </mat-form-field>
              </td>
              <td><button mat-raised-button color="warn">-</button></td>
            </tr>
          </tbody>
        </table>

        <hr />
        <h3>Cierre de caja</h3>
        <div class="form-check">
          <input
            formControlName="cierreCaja"
            [value]="1"
            class="form-check-input"
            type="radio"
            name="cierreCaja"
            id="flexRadioDefault1"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Cajero no podrá ver el valor del cierre de caja.
          </label>
        </div>
        <div class="form-check">
          <input
            formControlName="cierreCaja"
            [value]="2"
            class="form-check-input"
            type="radio"
            name="cierreCaja"
            id="flexRadioDefault2"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Cajero podrá ver el valor después del cierre de caja.
          </label>
        </div>
        <div class="form-check">
          <input
            formControlName="cierreCaja"
            [value]="3"
            class="form-check-input"
            type="radio"
            name="cierreCaja"
            id="flexRadioDefault3"
          />
          <label class="form-check-label" for="flexRadioDefault3">
            Cajero siempre podrá ver el valor del cierre de caja.
          </label>
        </div>
        <hr />
        <h3>Colores</h3>
        <span
          >Nota: Si desea personalizar un color, habilite el check y escoja un
          color.</span
        >
        <br />
        <label for="" class="form-label">Color de flechas</label>
        <div class="d-flex">
          <mat-checkbox
            color="primary"
            formControlName="checkColorFlechas"
            (click)="
              configuracionCaja
                .get('checkColorFlechas')
                .setValue(!configuracionCaja.get('checkColorFlechas').value)
            "
            class="my-auto mx-3"
          >
          </mat-checkbox
          ><input
            formControlName="colorFlechas"
            (colorPickerChange)="
              configuracionCaja.get('colorFlechas').setValue($event)
            "
            type="color"
            class="form-control form-control-color"
            value="#563d7c"
            title="Choose your color"
          />
        </div>
        <label for="" class="form-label">Color de botón agregar cliente</label>
        <div class="d-flex">
          <mat-checkbox
            color="primary"
            formControlName="checkColorAgregarCliente"
            (click)="
              configuracionCaja
                .get('checkColorAgregarCliente')
                .setValue(
                  !configuracionCaja.get('checkColorAgregarCliente').value
                )
            "
            class="my-auto mx-3"
          >
          </mat-checkbox>
          <input
            formControlName="colorAgregarCliente"
            (colorPickerChange)="
              configuracionCaja.get('colorAgregarCliente').setValue($event)
            "
            type="color"
            class="form-control form-control-color"
            value="#563d7c"
            title="Choose your color"
          />
        </div>
        <label for="" class="form-label">Color de botón editar cliente</label>
        <div class="d-flex">
          <mat-checkbox
            color="primary"
            formControlName="checkColorEditarCliente"
            (click)="
              configuracionCaja
                .get('checkColorEditarCliente')
                .setValue(
                  !configuracionCaja.get('checkColorEditarCliente').value
                )
            "
            class="my-auto mx-3"
          >
          </mat-checkbox
          ><input
            formControlName="colorEditarCliente"
            (colorPickerChange)="
              configuracionCaja.get('colorEditarCliente').setValue($event)
            "
            type="color"
            class="form-control form-control-color"
            value="#563d7c"
            title="Choose your color"
          />
        </div>
        <label for="" class="form-label">Color de botón pagar</label>
        <div class="d-flex">
          <mat-checkbox
            color="primary"
            formControlName="checkColorPagar"
            (click)="
              configuracionCaja
                .get('checkColorPagar')
                .setValue(!configuracionCaja.get('checkColorPagar').value)
            "
            class="my-auto mx-3"
          >
          </mat-checkbox>
          <input
            formControlName="colorPagar"
            (colorPickerChange)="
              configuracionCaja.get('colorPagar').setValue($event)
            "
            type="color"
            class="form-control form-control-color"
            value="#563d7c"
            title="Choose your color"
          />
        </div>
      </form>
      <div class="d-flex justify-content-center mb-5">
        <button
          mat-raised-button
          color="primary"
          (click)="guardarConfiguracioCaja()"
        >
          Guardar
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
