<!-- ------------------------------------------------------------------------------------------------------- -->
<div *ngIf="caja!=null;else cajaChica">
<mat-drawer-container class="contenedor m-0" autosize>
  <mat-drawer #drawer class="example-sidenav p-0 m-0" mode="side">
    <div class="container-fliud row m-0 pl-0">
      <div cdkDropListGroup class="container-fliud row m-0 cont">
        <div class="col-4 bg-secondary contenedor-pedidos">
          <div class="pedidos h-100">
            <div
              cdkDropList
              [cdkDropListData]="pedidoTotal.pedidos"
              class="example-list2"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                *ngFor="let pedido of pedidoTotal.pedidos"
                cdkDrag
                [cdkDragDisabled]="canDrag(pedido)"
                class="my-2"
              >
                <mat-card>
                  <div class="row">
                    <div class="col-9">
                      <h5>
                        <b>Nombre: {{ pedido.plato.nombre_plato }} </b>
                      </h5>
                      <h5>Cantidad Consumida: {{ pedido.cantidad_lista }}</h5>
                      <h5>
                        Precio U.: {{ pedido.plato.precio_plato | currency }}
                      </h5>
                      <input
                        type="text"
                        class="bg-secondary text-white text-center"
                        disabled
                        value="{{ pedido.cantidad_servida }}"
                      />
                    </div>
                    <div class="col-3">
                      <button
                        (click)="movePedidoPago(pedido)"
                        class="h-100 btn btn-dark text-center"
                        [ngStyle]="{'background-color': this.configuracionCaja.colorFlechas.check ? this.configuracionCaja.colorFlechas.color : '#343a40'}"
                      >
                        >
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </div>

        <div class="col-8 container mt-3">
          <div class="d-flex justify-content-end">
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="clean()"
            >
              Cerrar
            </button>
          </div>

          <div class="dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Seleccionar cliente
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <input
                class="form-control"
                id="myInput"
                type="text"
                [formControl]="search"
                (keyup)="applyFilterPlatos($event)"
                placeholder="buscar.."
              />
              <li
                *ngFor="
                  let cliente of clientes | filter: search.value;
                  let i = index
                "
              >
                <a
                  class="dropdown-item"
                  [routerLink]=""
                  (click)="seleccionarCliente(cliente)"
                  *ngIf="i < 3"
                >
                  {{ cliente.cedRuc_cliente }} - {{ cliente.nombre_cliente }}
                  {{ cliente.apellido_cliente }}</a
                >
              </li>
              <button
              [ngStyle]="{'background-color': this.configuracionCaja.colorAgregarCliente.check ? this.configuracionCaja.colorAgregarCliente.color : '#343a40'}"
              class="btn color-white w-100" (click)="openDialogCrear()">
                Crear cliente
              </button>
            </ul>
          </div>
          <div class="d-flex justify-content-end">
            <button
            [ngStyle]="{'background-color': this.configuracionCaja.colorEditarCliente.check ? this.configuracionCaja.colorEditarCliente.color : '#343a40'}"
              class="btn text-white"
              *ngIf="clienteSelected.nombre_cliente != ''"
              (click)="openDialogEditar()"
            >
              Editar cliente
            </button>
          </div>
          <div class="row">
            <div class="col-6">
              <p><b>Nombre:</b> {{ clienteSelected.nombre_cliente }}</p>
            </div>
            <div class="col-6">
              <p><b>Apellido:</b> {{ clienteSelected.apellido_cliente }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p><b>Cedula/ruc:</b> {{ clienteSelected.cedRuc_cliente }}</p>
            </div>
            <div class="col-6">
              <p><b>Direccion:</b> {{ clienteSelected.direccion_cliente }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p><b>correo:</b> {{ clienteSelected.correo_cliente }}</p>
            </div>
            <div class="col-6">
              <p><b>fecha:</b> {{ dateNow() }}</p>
            </div>
          </div>
          <div>
            <p>Forma de pago</p>
            <select  [formControl]="pagoSelect"   (change)="changeMetodoSelected($event.target.value)"   class="form-select" aria-label="Default select example" >
              <option [value]="i" *ngFor="let metodoPago of configuracionCaja.metodosPago;let i = index" >{{metodoPago.nombre}}</option>
            </select>
          </div>

          <div
            cdkDropList
            [cdkDropListData]="pedidoTotalAux.pedidos"
            class="example-list"
            (cdkDropListDropped)="dropAux($event)"
          >
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Regresar</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio U.</th>
                  <th scope="col">Precio T.</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="example-box"
                  *ngFor="let pedido of pedidoTotalAux.pedidos"
                  [cdkDragData]="pedido"
                  cdkDrag
                >
                  <th scope="row">
                    <button
                      (click)="movePedidoTotal(pedido)"
                      class="h-100 btn text-white text-center"
                      [ngStyle]="{'background-color': this.configuracionCaja.colorFlechas.check ? this.configuracionCaja.colorFlechas.color : '#343a40'}"
                    >
                      <
                    </button>
                  </th>
                  <td>{{ pedido.plato.nombre_plato }}</td>
                  <td>{{ pedido.cantidad_servida }}</td>
                  <td>{{ pedido.plato.precio_plato | currency }}</td>
                  <td>
                    {{
                      pedido.plato.precio_plato * pedido.cantidad_servida
                        | currency
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-end">
            <div class="row">
              <div class="col-6 text-end">Sub total:</div>
              <div class="col-6 text-center">{{  subTotal | currency }}</div>
              <div class="col-6 text-end">Descuento:</div>
              <div class="col-6 text-center" >{{  descuento | currency :0 }}</div>
              <div class="col-6 text-end">Iva:</div>
              <div class="col-6 text-center">{{ iva | currency }}</div>
              <div class="col-6 text-end">Interés:</div>
              <div class="col-6 text-center">{{ interes | currency }}</div>
              <hr>
              <div class="col-6 text-end">Total:</div>
              <div class="col-6 text-center">{{ total | currency }}</div>
            </div>
          </div>
          <div class="d-flex justify-content-end my-5">
            <button
            [ngStyle]="{'background-color': this.configuracionCaja.colorPagar.check ? this.configuracionCaja.colorPagar.color : '#343a40'}"
              class="btn text-white  px-5"
              *ngIf="canPay()"
              (click)=" pagar()"
            >
              Pagar
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <div class="container-fliud row m-0 h-80">
    <div class="col-8 container mt-3 position-relative h-100">
      <div class="row">
        <div
          *ngFor="let mesa of mesas; let index = index"
          class="col col-sm-2 text-center"
          (click)="seleccionarMesa(mesa)"
        >
          <button
            *ngIf="mesa.estado == 2"

            mat-button
            matBadge="!"
            class="p-0"
          >
            <fa-icon
              class="display-4 text-secondary mesa"
              [icon]="faSquareIcon"
            ></fa-icon>
          </button>

          <button *ngIf="mesa.estado != 2" mat-button>
            <fa-icon
              [ngClass]="getColor(mesa)"
              class="display-4 mesa"
              [icon]="faSquareIcon"
            ></fa-icon>
          </button>
          <p>{{ mesa.nombre_mesa }}</p>
        </div>
      </div>
      <div class="position-absolute bottom-0  d-flex justify-content-between w-100">
        <button class="btn btn-dark" (click)="modalGasto()">Realizar cierre de caja</button>
        <button class="btn btn-primary" (click)="modalGasto()">Realizar gasto</button>
      </div>
    </div>
  </div>
</mat-drawer-container>
</div>
<ng-template #cajaChica>
  <div class="container">
    <h1 class="text-center">Abrir caja</h1>
    <h2 class="text-center">Aun no tienes una caja abierta, ingresa los datos para proceder a realizar los cobros.</h2>
    <form action="" class="d-flex justify-content-center w-100" [formGroup]="cajaForm">
    <mat-form-field  appearance="outline" class="w-50">

      <mat-label>Caja chica</mat-label>
      <input type="number" matInput placeholder="Ingrese nombre de egreso" formControlName="caja_chica">
      <mat-error >
        <mat-error *ngIf="cajaForm.controls['caja_chica'].errors?.['required']">
          Caja chica es requerido.
        </mat-error>
      </mat-error>
    </mat-form-field>

  </form>
  <div class="d-flex justify-content-center w-100">
    <button (click)="guardarCaja()" class="btn btn-primary">Abrir caja</button>
  </div>

  </div>

</ng-template>
