
  <!-- ------------------------------------------------------------------------------------------------------- -->
  <mat-drawer-container class="contenedor m-0" autosize>
    <mat-drawer #drawer class="example-sidenav p-0 m-0" mode="side">
      <div class="container-fliud row m-0 pl-0">
        <div cdkDropListGroup class="container-fliud row m-0 cont">

            <div class="col-4 bg-secondary contenedor-pedidos">
              <div class="pedidos h-100">
                <div
            
                cdkDropList
                [cdkDropListData]="pedidoTotal.pedidos"
                class="example-list"
                
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let pedido of pedidoTotal.pedidos" cdkDrag   [cdkDragDisabled]="canDrag(pedido)" class="my-2" >
                  <mat-card >
                      
                
                    <h5><b>Nombre: {{pedido.plato.nombre_plato}} </b></h5>
                <h5>Cantidad consumida: {{pedido.cantidad_lista}}</h5>
                <h5>faltantes de pagar: </h5>
                <input type="text" class="bg-secondary text-white text-center" disabled value="{{pedido.cantidad_servida}}">
         
                </mat-card>
                </div>
                </div>
              </div>
              
            </div>
            
            <div class="col-8 container mt-3">
                <div class="d-flex justify-content-end">
                    <button type="button" mat-raised-button color="primary" (click)="drawer.toggle()">
                        Cerrar
                      </button>
                </div>
 
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                     Seleccionar cliente
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <input class="form-control" id="myInput" type="text" placeholder="buscar..">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                      <button class="btn btn-primary w-100">Crear cliente</button>
                    </ul>
                  </div>
<div class="row">
    <div class="col-6"><p>Nombre: </p></div>
    <div class="col-6"> <p>Direccion: </p></div>
</div>
<div class="row">
    <div class="col-6"> <p>Cedula/ruc: </p></div>
    <div class="col-6">  <p>fecha: </p></div>
</div>
                
               
               
              

             <div
        cdkDropList

        [cdkDropListData]=" pedidoTotalAux.pedidos"
        class="example-list"
        (cdkDropListDropped)="dropAux($event)">
        <div class="example-box" *ngFor="let pedido of pedidoTotalAux.pedidos" [cdkDragData]="pedido" cdkDrag>
            <mat-card >
                      
                
                <h5><b>Nombre: {{pedido.plato.nombre_plato}} </b></h5>
            <h5>Cantidad consumida: {{pedido.cantidad_lista}}</h5>
            <h5>faltantes de pagar: </h5>
            <input type="text" class="bg-secondary text-white text-center" disabled value="{{pedido.cantidad_servida}}">
     
            </mat-card>
        </div>
      </div>
            </div>
          </div>
        </div>
  
    </mat-drawer>
    <div class="container-fliud row m-0">
      <div class="col-8 container mt-3">
        <div class="row">
          <div
            *ngFor="let mesa of mesas; let index = index"
            class="col col-sm-2 text-center"
            (click)="seleccionarMesa(mesa)"
          >
            <button
              *ngIf="mesa.estado == 1"
              (click)="drawer.toggle()"
              mat-button
              matBadge="!"
              class="p-0"
            >
              <fa-icon
            
                class="display-4 text-secondary mesa"
                [icon]="faSquareIcon"
              ></fa-icon>
            </button>
  
            <button *ngIf="mesa.estado != 1" mat-button (click)="drawer.toggle()">
              
              <fa-icon
              [ngClass]="getColor(mesa)"
                class="display-4  mesa"
                [icon]="faSquareIcon"
              ></fa-icon>
            </button>
            <p>{{ mesa.nombre_mesa }}</p>
          </div>
        </div>
      </div>

    </div>
  </mat-drawer-container>
  