<form action="" [formGroup]="formReset"

[ngStyle]="{
    background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'33'
      : '#ffb13c'+'33',
      'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
      : '#ffb13c',
      height:'100vh'
  }"
>
    <div class="container p-5"
    *ngIf="view==0"
    [ngStyle]="{
        background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
          ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'33'
          : '#ffb13c'+'33',
          'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
          ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
          : '#ffb13c',
          position:'absolute',
          top:'50%',
          left:'50%',
          transform:'translate(-50%,-50%)'
      }"
    >
        <div class="d-flex justify-content-center">
        <img  class="img img-fluid" [src]="getLogo()" alt="">
        </div>
        <h1>Restablecer contraseña</h1>
        <h5>Nueva contraseña</h5>
        <mat-form-field  appearance="outline" class="w-100">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingrese contraseña" formControlName="password">
            <mat-error >
               
              <mat-error *ngIf="formReset.controls['password'].errors?.['required']">
                contraseña es requerido.
              </mat-error>
              <mat-error *ngIf="formReset.controls['password'].errors?.['pattern']">
                Contraseña debe contener 8 caracteres, por lo menos una minúscula, una mayúscula, un numero y un carácter especial.
              </mat-error>
            </mat-error>
          </mat-form-field>
          <h5>Repetir contraseña</h5>
          <mat-form-field  appearance="outline" class="w-100">
            <mat-label>Confirmación de contraseña</mat-label>
            <input matInput placeholder="Ingrese confirmación de contraseña" formControlName="confirmPassword">
            <mat-error >
              <mat-error *ngIf="formReset.controls['confirmPassword'].errors?.['required']">
                Confirmación de contraseña es requerido.
              </mat-error>
              <mat-error *ngIf="formReset.controls['confirmPassword'].errors?.['pattern']">
                Contraseña debe contener 8 caracteres, por lo menos una minúscula, una mayúscula, un numero y un carácter especial.
              </mat-error>
              <mat-error *ngIf="formReset.controls['confirmPassword'].value != formReset.controls['password'].value">
               Contraseña no coincide.
              </mat-error>
            </mat-error>
          </mat-form-field>
          <div class="d-flex justify-content-center">
            <button
            (click)="resetPassword()"
            [ngStyle]="{
              background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
                ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'cc'
                : '#ffb13c'+'cc',
                'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
                ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
                : '#ffb13c'
            }"
            type="submit" class="btn text-white">Restablecer contraseña</button>
          </div>
    </div>
    <div 
    class="p-5"
    *ngIf="view==1"
    [ngStyle]="{
        background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
          ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'33'
          : '#ffb13c'+'33',
          'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
          ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
          : '#ffb13c',
          position:'absolute',
          top:'50%',
          left:'50%',
          transform:'translate(-50%,-50%)'
      }"
    >
    <div class="d-flex justify-content-center">
    <img  class="img img-fluid" [src]="getLogo()" alt="">
</div>
    <h1 class="text-center">Se restableció la contraseña con éxito, inicie sesión ahora</h1>

       
    <div class="d-flex justify-content-center">
        <button
        (click)="resetPassword()"
        [ngStyle]="{
          background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
            ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'cc'
            : '#ffb13c'+'cc',
            'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
            ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
            : '#ffb13c'
        }"
        type="submit" class="btn text-white" (click)="redirectIniciaSesion()">Iniciar sesión</button>
        </div>
    </div>
    
</form>