<div class="container">
  <h1 class="text-center">Caja {{caja.createdAt | date }}</h1>
  <h2 >Ingresos</h2>
    <div style="max-height: 30vh;overflow: auto;">
      <div *ngFor="let metodoPago of configuracionCaja.metodosPago">
      <h3 class="text-center">  {{metodoPago.nombre}}</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Detalle</th>
            <th scope="col">SubTotal</th>
            <th scope="col">Descuento</th>
            <th scope="col">Recargo</th>
            <th scope="col">IVA</th>
            <th scope="col">Descuento/Recargó</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let comprobante of comprobantes; let i = index"  >
          <ng-container  *ngIf="comprobante.metodoPago_comprobante.nombre == metodoPago.nombre">

                  <tr>
                   <td>{{i+1}}</td>
                   <td>
                      <p  *ngFor="let detalle_comprobante of comprobante.detalle_comprobante" >
                        {{detalle_comprobante.cantidad_pedido}} |  {{detalle_comprobante.plato.nombre_plato}} </p>
                   </td>
                   <td>{{comprobante.subTotal_comprobante | currency}}</td>
                   <td>{{comprobante.descuento_comprobante | currency}}</td>
                   <td>{{comprobante.interes_comprobante | currency}}</td>
                   <td>{{comprobante.subTotalIva_comprobante | currency}}</td>
                   <td>{{comprobante.descuentoInteres_comprobante.nombre }}</td>
                   <td>{{comprobante.total_comprobante | currency}}</td>
                  </tr>

          </ng-container>
         </ng-container>

        </tbody>
      </table>
      </div>
      <h2 >Egresos</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descripción</th>
            <th scope="col">Detalle</th>
            <th scope="col">Observación</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let egreso of egresos; let i = index">


            <th scope="row">{{i+1}}</th>
            <td>{{egreso.nombre_egreso}}</td>
            <td>{{egreso.detalle_egreso}}</td>
            <td>{{egreso.observacion_egreso}}</td>
            <td>{{egreso.cantidad_egreso |currency}}</td>

          </tr>
        </tbody>
      </table>
    </div>
<table class="table">
  <thead>

  </thead>
  <tbody>
    <tr>
      <th scope="row">Caja de apertura</th>
      <td>{{caja.caja_chica|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de egreso</th>
      <td>{{caja.cantidad_egreso|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de ingreso</th>
      <td>{{caja.cantidad_ingreso|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de recargos</th>
      <td>{{caja.cantidad_intereses|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de descuentos</th>
      <td>{{caja.cantidad_descuentos|currency}}</td>
    </tr>
    <tr  >
      <th scope="row" >Total de efectivo</th>
      <td>{{caja.caja_chica +  caja.cantidad_efectivo|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Total de otras formas de pago</th>
      <td>{{caja.cantidad_transferencia|currency}}</td>
    </tr>
    <tr>
      <th scope="row">Cierre de caja</th>
      <td>{{caja.cierre_caja|currency}}</td>
    </tr>
    <tr  >
      <th scope="row">Sobrante o faltante de caja</th>
      <td>{{caja.cierre_caja -(caja.caja_chica +  caja.cantidad_efectivo)  |currency}}</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center w-100">
  <button
  [ngStyle]="{
    background: this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color+'cc'
      : '#ffb13c'+'cc',
      'border-color': this.StorageService.getConfiguracionEstilo().colorAplicacion.check
      ?  this.StorageService.getConfiguracionEstilo().colorAplicacion.color
      : '#ffb13c'
  }"
  (click)="cerrarModal()" class="btn btn-primary">Cerrar</button>

  <a [href]="'http://localhost:3000/api/caja/reporte/'+caja._id"  class="mx-5" download="newfilename" target="_blank">Descargar</a>
</div>
</div>
